<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contributions</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="contributions_container">
        <div class="contributions_title">
            <h3>Contributions</h1><!--The title of the project-->
        </div>
        <div class="contributions_content"> <!--The description text-->
            <h4>Haohang Li</h4>
            <ul>
                <li>Flask app + html + css</li>
                <li>Sentence Similarity function</li>
                <li>Text Score function</li>
            </ul>
            <h4>Baihao Huang</h4>
            <ul>
                <li>Text Classification function</li>
                <li>Text Summarization function</li>
                <li>Sentiment Analysis function</li>
            </ul>
            <h4>Mengyuan He</h4>
            <ul>
                <li>Grammar Check function</li>
                <li>Text Translation function</li>
            </ul>
            <h4>Haonan Wang</h4>
            <ul>
                <li>High Frequency Adjective Words Substitution function</li>
                <li>Spelling Correction function</li>
            </ul>
            <h4>Zichen Gao</h4>
            <ul>
                <li>Text Statistics function</li>
            </ul>
        </div>
    </div>
    {% endblock %}
</body>
</html>