<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contributions</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="contributions_container">
        <div class="contributions_title">
            <h3>Contributions</h1><!--The title of the project-->
        </div>
        <div class="contributions_content"> <!--The description text-->
            <h4>Haohang Li</h4>
            <p>
                Flask app + html + css <br>
                Sentence Similarity function <br>
                Text Score function <br>
            </p>
            <h4>Baihao Huang</h4>
            <p>
                Text Classification function<br>
                Text Summarization function<br>
                Sentiment Analysis function<br>
            </p>
            <h4>Mengyuan He</h4>
            <p>
                Grammar Check function<br>
                Text Translation function<br>
            </p>
            <h4>Haonan Wang</h4>
            <p>
                High Frequency Adjective Words Substitution function<br>
                Spelling Correction function<br>
            </p>
            <h4>Zichen Gao</h4>
            <p>
                Text Statistics function
            </p>
        </div>
    </div>
    {% endblock %}
</body>
</html>