<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentations</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="documentations_container">
        <div class="documentations_title">
            <h3>Functions' Documentation</h1><!--The title of the project-->
        </div>
        <div class="documentations_content"> <!--The description text-->
            <div class="documentations_p">
                <h3>Text summarization</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo odit animi molestias et? 
                Tempore consectetur delectus enim labore recusandae ab at voluptate cumque. Ex optio aut 
                soluta molestias nihil mollitia.</p>
            </div>
            <div class="documentations_p">
                <h3>Text Classification</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo odit animi molestias et? 
                Tempore consectetur delectus enim labore recusandae ab at voluptate cumque. Ex optio aut 
                soluta molestias nihil mollitia.</p>
            </div>
            <div class="documentations_p">
                <h3>Text Translation</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo odit animi molestias et? 
                Tempore consectetur delectus enim labore recusandae ab at voluptate cumque. Ex optio aut 
                soluta molestias nihil mollitia.</p>
            </div>
            <div class="documentations_p">
                <h3>Text Spelling Correction</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo odit animi molestias et? 
                Tempore consectetur delectus enim labore recusandae ab at voluptate cumque. Ex optio aut 
                soluta molestias nihil mollitia.</p>
            </div>
            <div class="documentations_p">
                <h3>Sentiment Analysis</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo odit animi molestias et? 
                Tempore consectetur delectus enim labore recusandae ab at voluptate cumque. Ex optio aut 
                soluta molestias nihil mollitia.</p>
            </div>
            <div class="documentations_p">
                <h3>Word Net: Synonymous Substitution</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo odit animi molestias et? 
                Tempore consectetur delectus enim labore recusandae ab at voluptate cumque. Ex optio aut 
                soluta molestias nihil mollitia.</p>
            </div>
            <div class="documentations_p">
                <h3>Grammar Check</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo odit animi molestias et? 
                Tempore consectetur delectus enim labore recusandae ab at voluptate cumque. Ex optio aut 
                soluta molestias nihil mollitia.</p>
            </div>
            <div class="documentations_p">
                <h3>Punctuation Check</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo odit animi molestias et? 
                Tempore consectetur delectus enim labore recusandae ab at voluptate cumque. Ex optio aut 
                soluta molestias nihil mollitia.</p>
            </div>
            <div class="documentations_p">
                <h3>Text Score</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo odit animi molestias et? 
                Tempore consectetur delectus enim labore recusandae ab at voluptate cumque. Ex optio aut 
                soluta molestias nihil mollitia.</p>
            </div>
            <div class="documentations_p">
                <h3>Text Statistics</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo odit animi molestias et? 
                Tempore consectetur delectus enim labore recusandae ab at voluptate cumque. Ex optio aut 
                soluta molestias nihil mollitia.</p>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>