<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Functions</title>
</head>


<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="functions_container">
        <div class="functions_title">
            <h3>Functions</h1><!--The title of the project-->
        </div>
        
        <div class="functions_list"> <!--The description text-->
            <ul>
                <li><a href="{{ url_for('text_summarization') }}">Text summarization</a></li>
                <li><a href="{{ url_for('text_classification') }}">Text Classification</a></li>
                <li><a href="{{ url_for('text_translation') }}">Text Translation</a></li>
                <li><a href="{{ url_for('spelling_correction') }}">Text Spelling Correction</a></li>
                <li><a href="{{ url_for('home') }}">Sentiment Analysis</a></li>
                <li><a href="{{ url_for('high_frequency') }}">High Frequency Words Substitution</a></li>
                <li><a href="{{ url_for('grammar_check') }}">Grammar Check</a></li>
                <li><a href="{{ url_for('punctuation_check') }}">Punctuation Check</a></li>
                <li><a href="{{ url_for('home') }}">Text Score</a></li>
                <li><a href="{{ url_for('home') }}">Text Statistics</a></li>
            </ul>
        </div>
    </div>
    {% endblock %}
</body>
</html>