<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ web_title }}</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="functionality1_container">
        <div class="functionality1_container_container1">
            <h3>{{ content_title }}</h1>
            <textarea id="" cols="70" rows="40"></textarea>
            <br>
            <button>Submit</button>
            <button>Give me a sample</button>
        </div>
        <div class="functionality1_container_container2"> <!--Move to right-->
            <h2>replace</h2>
            <p>content</p>
        </div>
    </div>
    {% endblock %}
</body>
</html>